# ignore Vagrant stuff
.vagrant/

# Vagrant-generated log
*.log

# testing
work/
asd16/
asd17/
asd18/

# ignore tmp directory
tmp/

# cleaning history
# see:
# https://rtyley.github.io/bfg-repo-cleaner/
..bfg-report/
